@model CFTenantPortal.Models.MessageListVM

<form asp-action="XXExportMessagesForm">
    <button id="ExportMessagesButton" class="btn btn-secondary" type="submit" formaction=@Url.Action("ExportMessagesForm", Model.Filter )>Export</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].TypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].PropertyOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].IssueReference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeDescription)
                </td>
                <td>
                    @if (String.IsNullOrEmpty(item.PropertyOwnerId))
                    {
                        @Html.DisplayFor(modelItem => item.PropertyOwnerName)
                    }
                    else
                    {
                        @Html.ActionLink(item.PropertyOwnerName, "PropertyOwner", new { id = item.PropertyOwnerId })
                    }
                </td>
                <td>
                    @if (String.IsNullOrEmpty(item.PropertyId))
                    {
                        @Html.DisplayFor(modelItem => item.PropertyName)
                    }
                    else
                    {
                        @Html.ActionLink(item.PropertyName, "Property", new { id = item.PropertyId })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueReference)
                </td>
                <td>
                    @Html.ActionLink("Details", "Message", new { id = item.Id }) |
                    @if (item.AllowDelete)
                    {
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>