@model CFTenantPortal.Models.PropertyOwnerListVM

@{
    ViewData["Title"] = "Property Owner List";
}

<h3>@Model.HeaderText</h3>

<p>
    <a asp-action="PropertyOwner">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyOwners[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyOwners[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyOwners[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PropertyOwners)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>                    
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>                    
                    @Html.ActionLink("Details", "PropertyOwner", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })                    
                </td>
            </tr>
        }
    </tbody>
</table>
