@model CFTenantPortal.Models.PropertyListVM

@{
    ViewData["Title"] = "Property List";
}

<h3>@Model.HeaderText</h3>

<p>
    <a asp-action="Property">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].AddressDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].PropertyOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].PropertyGroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Properties) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressDescription)
            </td>
            <td>                
                @Html.ActionLink(item.PropertyOwnerName, "PropertyOwner", new { id = item.PropertyOwnerId })
            </td>
            <td>
               @Html.ActionLink(item.PropertyGroupName, "PropertyGroup", new { id = item.PropertyGroupId })
            </td>
            <td>                
                @Html.ActionLink("Details", "Property", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })                
            </td>
        </tr>
}
    </tbody>
</table>
