@model CFTenantPortal.Models.PropertyGroupVM

@{
    ViewData["Title"] = "Property Group";
}

<h3>@Model.HeaderText</h3>

<form asp-action="CreateEditPropertyGroupForm">
    @Html.LabelFor(m => m.Name)
    <input class="form-control" type="text" asp-for="@Model.Name" />
    @Html.LabelFor(m => m.Description)
    <input class="form-control" type="text" asp-for="@Model.Description" />    

    <button class="btn btn-primary" type="submit">Save</button>
</form>

<h4>Properties</h4>
<p>
    <a asp-action="Property">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].AddressDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].PropertyOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].PropertyGroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Properties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressDescription)
                </td>
                <td>                    
                    @Html.ActionLink(item.PropertyOwnerName, "PropertyOwner", new { id = item.PropertyOwnerId })
                </td>
                <td>                    
                    @Html.ActionLink(item.PropertyGroupName, "PropertyGroup", new { id = item.PropertyGroupId })
                </td>
                <td>
                    @Html.ActionLink("Details", "Property", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Issues</h4>
<p>
    <a asp-action="Issue">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].TypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].PropertyOrBuilderDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].StatusDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Issues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.PropertyId != "")
                    {
                        @Html.ActionLink(item.PropertyOrBuilderDescription, "Property", new { id = item.PropertyId })
                    }
                    else
                    {
                        @Html.ActionLink(item.PropertyOrBuilderDescription, "PropertyGroup", new { id = item.PropertyGroupId })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusDescription)
                </td>
                <td>
                    @Html.ActionLink("Details", "Issue", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
