@model CFTenantPortal.Models.PropertyOwnerVM

@{
    ViewData["Title"] = "Property Owner";
}

<h3>@Model.HeaderText</h3>

<form asp-action="CreateEditPropertyOwnerForm">
    @Html.LabelFor(m => m.Name)
    <input class="form-control" type="text" asp-for="@Model.Name" />
    @Html.LabelFor(m => m.Email)
    <input class="form-control" type="text" asp-for="@Model.Email" />
    @Html.LabelFor(m => m.Phone)
    <input class="form-control" type="text" asp-for="@Model.Phone" />

    <h5>Address (Correspondence)</h5>
    @Html.LabelFor(m => m.Address.Line1)
    <input class="form-control" type="text" asp-for="@Model.Address.Line1" />
    @Html.LabelFor(m => m.Address.Line2)
    <input class="form-control" type="text" asp-for="@Model.Address.Line2" />
    @Html.LabelFor(m => m.Address.Town)
    <input class="form-control" type="text" asp-for="@Model.Address.Town" />
    @Html.LabelFor(m => m.Address.County)
    <input class="form-control" type="text" asp-for="@Model.Address.County" />
    @Html.LabelFor(m => m.Address.Postcode)
    <input class="form-control" type="text" asp-for="@Model.Address.Postcode" />

    <button class="btn btn-primary" type="submit">Save</button>
</form>

<h4>Properties</h4>
<p>
    <a asp-action="Property">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].AddressDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].PropertyOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].PropertyGroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Properties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressDescription)
                </td>
                <td>                    
                    @Html.ActionLink(item.PropertyOwnerName, "PropertyOwner", new { id = item.PropertyOwnerId })
                </td>
                <td>                    
                    @Html.ActionLink(item.PropertyGroupName, "PropertyGroup", new { id = item.PropertyGroupId })
                </td>
                <td>
                    @Html.ActionLink("Details", "Property", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Messages</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].TypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].PropertyOwnerName)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeDescription)
                </td>
                <td>                    
                    @Html.ActionLink(item.PropertyOwnerName, "PropertyOwner", new { id = item.PropertyOwnerId })
                </td>                
                <td>
                    @Html.ActionLink("Details", "Message", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

