@model CFTenantPortal.Models.PropertyModel2

@{
    ViewData["Title"] = "Property";
}

<h3>Property</h3>

<table>
    <tr>
        <td>@Html.LabelFor(m => m.PropertyGroupName)</td>
        <td>@Html.DisplayFor(m => m.PropertyGroupName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.AddressDescription)</td>
        <td>@Html.DisplayFor(m => m.AddressDescription)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PropertyOwnerName)</td>
        <td>@Html.DisplayFor(m => m.PropertyOwnerName)</td>
    </tr>
</table>

<h2>Issues</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].IssueTypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].PropertyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].StatusDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Issues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueTypeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
