@model CFTenantPortal.Models.PropertyOwnerVM

@{
    ViewData["Title"] = "Property Owner";
}

<h3>@Model.HeaderText</h3>

<!--Tab list-->
<div class="pagetab">
    <button id="maintablink" class="pagetablinks" onclick="openPageTab('maintablink', 'maintab')">Main</button>
    <button id="propertiestablink" class="pagetablinks" onclick="openPageTab('propertiestablink', 'propertiestab')">Properties</button>
    <button id="messagestablink" class="pagetablinks" onclick="openPageTab('messagestablink', 'messagestab')">Messages</button>
    <button id="documentstablink" class="pagetablinks" onclick="openPageTab('documentstablink', 'documentstab')">Documents</button>
</div>

<div id="maintab" class="pagetabcontent">
    <form asp-action="CreateEditPropertyOwnerForm">
        @Html.LabelFor(m => m.Name)
        <input class="form-control" type="text" asp-for="@Model.Name" />
        @Html.LabelFor(m => m.Email)
        <input class="form-control" type="text" asp-for="@Model.Email" />
        @Html.LabelFor(m => m.Phone)
        <input class="form-control" type="text" asp-for="@Model.Phone" />

        <h5>Address (Correspondence)</h5>
        @Html.LabelFor(m => m.Address.Line1)
        <input class="form-control" type="text" asp-for="@Model.Address.Line1" />
        @Html.LabelFor(m => m.Address.Line2)
        <input class="form-control" type="text" asp-for="@Model.Address.Line2" />
        @Html.LabelFor(m => m.Address.Town)
        <input class="form-control" type="text" asp-for="@Model.Address.Town" />
        @Html.LabelFor(m => m.Address.County)
        <input class="form-control" type="text" asp-for="@Model.Address.County" />
        @Html.LabelFor(m => m.Address.Postcode)
        <input class="form-control" type="text" asp-for="@Model.Address.Postcode" />

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

<div id="propertiestab" class="pagetabcontent">
    <h4>Properties</h4>
    <p>
        <a asp-action="Property">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].AddressDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].PropertyOwnerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].PropertyGroupName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Properties)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressDescription)
                    </td>
                    <td>                    
                        @Html.ActionLink(item.PropertyOwnerName, "PropertyOwner", new { id = item.PropertyOwnerId })
                    </td>
                    <td>                    
                        @Html.ActionLink(item.PropertyGroupName, "PropertyGroup", new { id = item.PropertyGroupId })
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Property", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="messagestab" class="pagetabcontent">
    <h4>Messages</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].TypeDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].PropertyOwnerName)
                </th>            
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Messages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeDescription)
                    </td>
                    <td>                    
                        @Html.ActionLink(item.PropertyOwnerName, "PropertyOwner", new { id = item.PropertyOwnerId })
                    </td>                
                    <td>
                        @Html.ActionLink("Details", "Message", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="documentstab" class="pagetabcontent">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Documents[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Documents[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Documents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Document", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(window).on('load', function () {
            $("#maintablink").click();    // Default to first tab
        });
    </script>
}

