@model CFTenantPortal.Models.PropertyListModel

@{
    ViewData["Title"] = "Property List";
}

<h3>@Model.HeaderText</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].AddressDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].PropertyOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].PropertyGroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Properties) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyOwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyGroupName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Property", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Issues", "IssueList", new { propertyId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
