@model CFTenantPortal.Models.ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="ForgotPasswordForm">
    @Html.ValidationSummary(true)

    @if (ViewBag.Message != null)
    {
        <p style="border: 1px solid red">
            @ViewBag.Message
        </p>
    }

    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email)</td>
            <td>@Html.ValidationMessageFor(a => a.Email)</td>
        </tr>       
        <tr>
            <td></td>
            <td><input type="submit" value="Login" /></td>
            <td></td>
        </tr>
    </table>
</form>

