@model CFTenantPortal.Models.IssueVM

@{
    ViewData["Title"] = "Property";
}

<h3>@Model.HeaderText</h3>

<!--Tab list-->
<div class="pagetab">
    <button id="maintablink" class="pagetablinks" onclick="openPageTab('maintablink', 'maintab')">Main</button>
    <button id="messagestablink" class="pagetablinks" onclick="openPageTab('messagestablink', 'messagestab')">Messages</button>
    <button id="documentstablink" class="pagetablinks" onclick="openPageTab('documentstablink', 'documentstab')">Documents</button>
</div>

<div id="maintab" class="pagetabcontent">
    <form asp-action="CreateEditIssueForm">
        @Html.ValidationSummary("Please correct the errors")
        @Html.HiddenFor(m => m.Id)
        @Html.LabelFor(m => m.Reference)
        <input class="form-control" type="text" asp-for="@Model.Reference" />

        @Html.LabelFor(m => m.TypeId)
        @Html.DropDownListFor(m => m.TypeId,
                new SelectList(@Model.IssueTypeList, nameof(EntityReference.Id), nameof(EntityReference.Name)))
        <br/>

        @Html.LabelFor(m => m.IssueStatusId)
        @Html.DropDownListFor(m => m.IssueStatusId,
                new SelectList(@Model.IssueStatusList, nameof(EntityReference.Id), nameof(EntityReference.Name)))
        <br/>

        @Html.LabelFor(m => m.PropertyId)
        @Html.DropDownListFor(m => m.PropertyId,
                new SelectList(@Model.PropertyList, nameof(EntityReference.Id), nameof(EntityReference.Name)))
        <br/>

        @Html.LabelFor(m => m.PropertyGroupId)
        @Html.DropDownListFor(m => m.PropertyGroupId,
                new SelectList(@Model.PropertyGroupList, nameof(EntityReference.Id), nameof(EntityReference.Name)))
        <br />

        @Html.LabelFor(m => m.CreatedEmployeeId)
        @Html.DropDownListFor(m => m.CreatedEmployeeId,
                new SelectList(@Model.EmployeeList, nameof(EntityReference.Id), nameof(EntityReference.Name)))
        <br />

        @Html.LabelFor(m => m.CreatedPropertyOwnerId)
        @Html.DropDownListFor(m => m.CreatedPropertyOwnerId,
                new SelectList(@Model.PropertyOwnerList, nameof(EntityReference.Id), nameof(EntityReference.Name)))
        <br />
        
        @Html.LabelFor(m => m.Description)
        <input class="form-control" type="text" asp-for="@Model.Description" />

        @if (Model.AllowSave)
        {
            <button class="btn btn-primary" type="submit">Save</button>
        }
    </form>
</div>

<div id="messagestab" class="pagetabcontent">
    @(await Component.InvokeAsync("MessageListComp", new { messageList = Model.MessageList }))
</div>
    
<div id="documentstab" class="pagetabcontent">
    @(await Component.InvokeAsync("DocumentListComp", new { documentList = Model.DocumentList }))  
</div>

@section Scripts
{
    <script>
        $(window).on('load', function () {
            $("#maintablink").click();    // Default to first tab
        });
    </script>
}