@model CFTenantPortal.Models.PropertyGroupVM

@{
    ViewData["Title"] = "Property Group";
}

<h3>@Model.HeaderText</h3>

<!--Tab list-->
<div class="pagetab">
    <button id="maintablink" class="pagetablinks" onclick="openPageTab('maintablink', 'maintab')">Main</button>
    <button id="propertiestabtablink" class="pagetablinks" onclick="openPageTab('propertiestabtablink', 'propertiestab')">Properties</button>
    <button id="issuestablink" class="pagetablinks" onclick="openPageTab('issuestablink', 'issuestab')">Issues</button>
    <button id="documentstablink" class="pagetablinks" onclick="openPageTab('documentstablink', 'documentstab')">Documents</button>
</div>

<div id="maintab" class="pagetabcontent">
    <form asp-action="CreateEditPropertyGroupForm">
        @Html.LabelFor(m => m.Name)
        <input class="form-control" type="text" asp-for="@Model.Name" />
        @Html.LabelFor(m => m.Description)
        <input class="form-control" type="text" asp-for="@Model.Description" />    

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

<div id="propertiestab" class="pagetabcontent">
    @(await Component.InvokeAsync("PropertyListComp", new { properties = Model.Properties }))
</div>

<div id="issuestab" class="pagetabcontent">
    @(await Component.InvokeAsync("IssueListComp", new { issues = Model.Issues }))
</div>

<div id="documentstab" class="pagetabcontent">
    @(await Component.InvokeAsync("DocumentListComp", new { documents = Model.Documents }))  
</div>

@section Scripts
                            {
    <script>
        $(window).on('load', function () {
            $("#maintablink").click();    // Default to first tab
        });
    </script>
}