@model CFTenantPortal.Models.ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="ResetPasswordForm">
    @Html.ValidationSummary(true)

    @if (ViewBag.Message != null)
    {
        <p style="border: 1px solid red">
            @ViewBag.Message
        </p>
    }

    @Html.HiddenFor(a => a.PasswordResetId)
    @Html.HiddenFor(a => a.UserId)

    <table>        
        <tr>
            <td>@Html.LabelFor(a => a.Password1)</td>
            <td>@Html.PasswordFor(a => a.Password1)</td>
            <td>@Html.ValidationMessageFor(a => a.Password1)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Password2)</td>
            <td>@Html.PasswordFor(a => a.Password2)</td>
            <td>@Html.ValidationMessageFor(a => a.Password2)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Reset" /></td>
            <td></td>
        </tr>
    </table>
</form>

