@model CFTenantPortal.Models.EmployeeListVM

@if (Model.AllowCreate)
{
    <p>
        <a asp-action="Employee">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Details", "Employee", new { id = item.Id }) |
                    @if (item.AllowDelete)
                    {
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
